.header {
    display: flex;
    padding: 0 15%;
    justify-content: space-between;
    align-items: center;
    background-color: #8a2b06;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin-left: 1.5rem;
    font-size: 1.25rem;
  }
  
  .nav a {
    text-decoration: none;
    color: black;
  }
  
  .nav a:hover,
  .nav a:active,
  .nav a.active {
    color: #e6fcfc;
  }
  
  .buttonNavigation {
    margin-left: 1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    background-color: #8a2b06;
    border: none;
  }

  .buttonNavigation:hover,
  .buttonNavigation:active,
  .buttonNavigation a.active {
    color: #e6fcfc;
  }